<p-tabView>
  <p-tabPanel class="flex h-full" header="Raw Transcript">
    <form class="h-full" [formGroup]="formGroup">
      <p-editor formControlName="transcribedText">
        <ng-template pTemplate="header">
          <span class="ql-formats">
            <select class="ql-size">
              <option value="small"></option>
              <!-- Note a missing, thus falsy value, is used to reset to default -->
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button
              type="button"
              class="ql-italic"
              aria-label="Italic"
            ></button>
            <button
              type="button"
              class="ql-underline"
              aria-label="Underline"
            ></button>
          </span>
          <span class="ql-formats">
            <button
              type="button"
              class="ql-code-block"
              aria-label="CodeBlock"
            ></button>
          </span>
        </ng-template>
      </p-editor>
    </form>
  </p-tabPanel>
  <p-tabPanel header="AI Output">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
      modi.
    </p>
  </p-tabPanel>
</p-tabView>

<div class="absolute center-bottom">
  <app-audio-recorder-button></app-audio-recorder-button>
</div>
