openapi: 3.0.3
info:
  title: Thinkify - OpenAPI 3.0
  version: 1.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://thinkify.giolom.com/api/v1
tags:
- description: retrieving note information
  name: note
paths:
  /note/list:
    get:
      description: Array of all notes invoices will be saved in database
      operationId: get_all_notes
      responses:
        "202":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
          description: Created
        "404":
          description: Some bricks or tenants not found
      summary: Persist sim invoices
      tags:
      - note
      x-openapi-router-controller: openapi_server.controllers.note_controller
  /note/verifyBricks:
    post:
      description: "Array of bricks will be processed to find out whether they exist,\
        \ whether they refer to the specified tenant and whether each of them has\
        \ a sim card."
      operationId: verify_bricks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyBricks_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
          description: Lists of successful and erroneous brick serial numbers
        "400":
          description: Invalid status value
      summary: Checks for brick correctness
      tags:
      - note
      x-openapi-router-controller: openapi_server.controllers.note_controller
  /note/{id}:
    get:
      description: Array of all notes invoices will be saved in database
      operationId: save_sim_invoices
      parameters:
      - description: "the user identifier, as userId"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
          description: Created
        "404":
          description: Some bricks or tenants not found
      summary: Persist sim invoices
      tags:
      - note
      x-openapi-router-controller: openapi_server.controllers.note_controller
components:
  schemas:
    AbstractEntity:
      properties:
        id:
          example: 1
          title: id
          type: integer
        createdAt:
          example: 2024-01-01T13:10:28Z
          format: date-time
          title: createdAt
          type: string
        updatedAt:
          example: 2024-01-01T15:22:44Z
          format: date-time
          title: updatedAt
          type: string
      required:
      - createdAt
      - id
      - updatedAt
      title: AbstractEntity
      type: object
    NoteMetaData:
      allOf:
      - $ref: '#/components/schemas/AbstractEntity'
      - properties:
          name:
            example: Note1
            type: string
        required:
        - name
        type: object
      title: NoteMetaData
    Note:
      allOf:
      - $ref: '#/components/schemas/NoteMetaData'
      - properties:
          rawText:
            example: This is the transcript of an audio record
            type: string
          aiOutput:
            example: AI generated text
            type: string
        required:
        - aiOutput
        - rawText
        type: object
      title: Note
    verifyBricks_request:
      properties:
        brickSerialNumbers:
          items:
            type: string
          title: brickSerialNumbers
          type: array
        tenant:
          title: tenant
          type: string
      title: verifyBricks_request
      type: object
