.center-bottom {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 1000;
}

.top {
  height: 60px;
}

.container {
  height: calc(100% - 60px);
}
